/*style body*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

/*NAV BAR AND MENU STYLING BEGINS*/

/*added style in navigation bar*/
.logo-nav {
  width: 150px;
  height: 70px;
  margin-left: 20px;
  margin-top: 10px;
}

/*change color of the text in navigation bar*/
.nav-link {
  color: black;
  font-size: 20px;
}

.nav-link:hover{
  color: white;
}

/*added flex right to the navigation bar*/
.nav {
  align-items: center;
}

/*nav menu styling*/
.flex {
  display: flex;
  gap: var(--gap, 1rem);
  justify-content: space-between;
  background-color: rgb(217, 198, 241);
}

/*NAV BAR AND MENU STYLING ENDS*/

/*style jumbotron*/

.jumbotron {
  background-image: url("../img/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*style text h2 in jumbotron*/
.discover {
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  padding-bottom: 50px;
}

.discover:hover{
  color: white;
}

.input-group-text {
  background-color: transparent;
  border: none;
  color: black;
  font-size: 30px;
  font-weight: bold;
}

.input-group-text:hover{
  color: white;
}

#select-cuisine {
  width: 500px;
  height: 40px;
  background-color: rgb(255, 255, 255, 0.8);
  border-radius: 5px;
  font-size: 20px;
}


.choose-ingredientes {
  color: black;
  text-align: center;
  font-weight: bold;
  /*font-size: 30px;*/
  padding-bottom: 15px;
}

.choose-ingredientes:hover{
  color: white;
}

.input-group {
  width: 500px;
  height: 40px;
}


.h2 .input-group-text {
  font-size: 30px;
}


/*give margin left to the cards so that they will be center*/

#search-input {
  background-color: rgb(255, 255, 255, 0.8);
  border-radius: 5px;
}
#search-btn {
  color: black;
  width: 70px;
  border-radius: 5px;
  border: rgb(217, 198, 241);
}

#search-btn:hover {
  box-shadow: 0 5px rgb(217, 198, 241);
  transform: translateY(4px);
}

.dishes-display {
  padding-left: 100px;
}

/*image on ingredients cards to fit*/
#img-size {
  width: 150px;
  height: 200px;
  object-fit: contain;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
}


.about-us{
  text-align:justify;
}

/*modal styling starts*/
.modal-header {
  background-color: rgb(217, 198, 241);
}

.modal-body {
  background-color: rgb(217, 198, 241);
}



.modal-footer {
  background-color: rgb(217, 198, 241);
}
/*modal styling ends*/

/*About Us Styling Ends*/


/*FOOTER STYLING BEGINS*/
.footer-flex {
  display: flex;
  gap: var(--gap, 1rem);
  justify-content: space-between;
  background-color: rgb(217, 198, 241);
}


/*FOOTER STYLING ENDS*/

@media only screen and (max-width: 768px) {

.logo-nav {
  width: 100px;
  height: 45px;
  margin-left: 20px;
  margin-top: 10px;
}


.nav-link {
  color: black;
  font-size: 15px;
}

.discover {
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  padding-bottom: 25px;
}

/*styles cuisine form*/
#select-cuisine {
  width: 250px;
  height: 30px;
  background-color: rgb(255, 255, 255, 0.8);
  border-radius: 5px;
  font-size: 10px;
}

.input-group {
  padding-top: 10px;
  width: 250px;
  height: 20px;
}

/*Check Ingredients text styling*/
.choose-ingredientes {
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  padding-top: 90px;
  width: 250px;
  height: 20px;
}

#search-btn {
  color: rgb(39, 140, 197);
  width: 70px;
  border-radius: 5px;
  border: rgb(39, 140, 197);
}

#search-btn:hover {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.h2 .input-group-text {
  font-size: 20px;
}
}
/* modal style to fit contents inside modal */
.modal-header {
  font-size: 25px !important;
}



@media only screen and (max-width: 1180px) {

  

/*Check Ingredients text styling*/
.choose-ingredientes {
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  padding-top: 90px;
  width: 250px;
  height: 120px;
}


}
