.jumbotron {
  background-image: url("../img/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  display: flex;
  justify-content: space-between;
}