* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Times New Roman", Times, serif;
}

.jumbotron {
  background-image: url("../img/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  display: flex;
  justify-content: space-between;
}

footer {
  /* background-color: rgb(39, 140, 197, 0, 3);
  height: 100%; */
  width: 100%;
}
